html,
body {
  padding: 0;
  margin: 0;
  font-family: 'interRegular', sans-serif;
}

h1, p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'interBold';
  src: url('../public/fonts/Inter-Bold.ttf');
}

@font-face {
  font-family: 'interMedium';
  src: url('../public/fonts/Inter-Medium.ttf');
}

@font-face {
  font-family: 'interRegular';
  src: url('../public/fonts/Inter-Regular.ttf');
}