.container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('../public/assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.boxCenter {
  color: #FFF;
  width: 70vw;
  margin-left: 100px;
}

.boxCenter h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
.divBotao{
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxCenter button {
  width: 11vw;
  margin-top: 15px;
  height: 5vh;
  border-radius: 15px;
  background-color: #AE46FF;
  border: none;
  color: #FFF;
  font-weight: 600;
  cursor: pointer;
}
.boxCenter p {
  width: 55vw;
  margin-top: 17px;
  margin-left: 5px;
  cursor: pointer;
}
.boxCenter span{
  margin-top: 17px;
  margin-left: 15px;

}
